@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto'; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.mainNav {
  height: 19.7rem;
  display: flex;
  justify-content: space-between;
  background-color: #629E97; }
  .mainNav__list {
    display: flex;
    list-style: none; }
  .mainNav__item {
    color: #FFFFFF;
    width: 12.9rem;
    margin-top: 9.7rem;
    margin-bottom: 5.8rem;
    align-self: center;
    cursor: pointer; }
    .mainNav__item:not(:last-child) {
      margin-right: 3rem;
      border-right: 1px solid #FFFFFF; }
  .mainNav__link {
    font-size: 2.3rem;
    font-weight: 500;
    color: inherit;
    text-decoration: none; }

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20.8rem;
  padding-top: 7.472rem; }

.logo {
  height: 5.428rem;
  width: 25.8rem; }
  .logo__quote {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: .5rem;
    height: 4.4rem; }

.ellipse {
  height: 100rem;
  background-color: #629E97;
  clip-path: ellipse(53% 36% at 50% 0%); }
