// COLORS

$color-primary: #629E97;
$color-white: #FFFFFF;

$color-gray-1:#9D9D9DB2;
$color-gray-2:#9D9D9DB3;
$color-gray-3:#00000029;
$color-gray-4:#FBFBFB;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
    font-family: 'SquareFont';
    src: url('../../fonts/Square.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  


@font-face {
  font-family: 'segoe-ui';
  src: url('../../fonts/segoe-ui.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
//Box Shadow

$shadow-light: 0 1rem 2rem rgba(#000000, 0.2);