.home-app{
    // position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 155.2rem;    
    // height: 100%;
    flex-wrap: nowrap;

    &__mobile{
        // align-self: flex-start;

    }

    &__img{
        &-1{
            transform: translateY(30rem);            
        }

        &-2{
            transform: translateY(-29rem) translateX(15rem);            
        }
    }

}


.download{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__download{
        width: 75.6rem;
        font-size: 11.6rem;
        font-family: "Roboto";
        font-weight: 700;
        color: $color-primary;
        margin-bottom: .5rem;
    }

    &__caption{
        width: 75.6rem;
        font-size: 3.5rem;
        font-family: "Roboto";
        font-weight: 500;
        color: $color-primary;
        margin-bottom: 7.5rem;
    }


    &__store{
        display: flex;

        &-img{
            width: 32.2rem;
            height: 9.6rem;

            &:not(:last-child){
                margin-right: 6.29rem;
            }
        }
    }
}